<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 text-center">

      <h2 class="my-4"><%= @representative.name %></h2>

      <img src="<%= @representative.photo %>" alt="Photo of <%= @representative.name %>" class="img-fluid mb-3">

      <p><strong>Title:</strong> <%= @representative.title %></p>
      <p><strong>Contact:</strong> <%= @representative.contact_address %></p>
      <p><strong>Political Party:</strong> <%= @representative.political_party %></p>

    </div>
  </div>
</div>