<div class="container">

  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2 class="my-4"> Edit News Item </h2>
      <%= form_with(model: @news_item, url: representative_news_item_create_path(), local: true) do |form| %>
        <div class="field">
          <strong>Representative:</strong>
          <%= link_to @rep_name, representative_path(@rep_id)   %>
          <%= form.hidden_field "news_item[representative_id]", value: @rep_id%>
          <%= form.hidden_field :representative_name, value: @rep_name%>
        </div>
        <div class="field">
          <strong>Issue:</strong>
          <%= @issue %>
          <%= form.hidden_field "news_item[issue]" , value: @issue%>
        </div>
        <strong>Select an article: </strong>
        <fieldset class="article-list" >
          <% @articles.each_with_index do |article, index| %>
            <div class="radio-button-group">
              <div style="display: flex; margin-left: 5%; align-items: center">
                <div style="transform: scale(1.5)">
                <%= radio_button_tag :selected_article_id, index %>
                </div>
                <table style="margin-left: 20px">
                  <tr><td><strong>Title: </strong></td><td><%= article.title %></td></tr>
                  <tr><td><strong>Link: </strong></td><td style="display: inline-block;white-space: nowrap; max-width: 500px; overflow: hidden; text-overflow:ellipsis;"><%= link_to nil, article.url, target: "_blank"  %></td></tr>
                  <tr><td><strong>Description: </strong></td><td style="display: inline-block;white-space: nowrap; max-width: 500px; overflow: hidden; text-overflow:ellipsis;"><%= article.description %></td></tr>
        <%= hidden_field_tag "news_item[article_#{index}_title]", article.title %>
        <%= hidden_field_tag "news_item[article_#{index}_link]", article.url %>
        <%= hidden_field_tag "news_item[article_#{index}_description]", article.description %>
                </table>
              </div>
            </div>
            <hr>
          <% end %>
        </fieldset>
        <div class="field">
          <strong>Rating: </strong>
          <%= form.select :rating, options_for_select(1..5, 5), class: 'from-control' %>
        </div>
            <%= form.submit "Save" , class: 'actions btn btn-success', style: 'left: 50%;position: relative' %>
      <% end %>

    </div>
  </div>
          <%= link_to 'View News Articles→', representative_news_items_path(@rep_id), class: 'btn btn-primary', style: 'right: 25%;position: absolute' %>
</div>
